# Server Configuration
PORT=4000
BASE_URL=example.com

# Site Information
SITE_NAME=Toffee

# ActivityPub / Fediverse Configuration
FEDIVERSE_DOMAIN=example.com
FEDIVERSE_USERNAME=news
FEDIVERSE_DISPLAY_NAME=My Blog & Wiki made with Toffee
FEDIVERSE_DESCRIPTION=A privacy-focused blog and wiki with ActivityPub support made with Toffee


# Social Links (optional)
SOCIAL_GITHUB=https://github.com/yourusername
SOCIAL_TWITTER=https://twitter.com/yourusername
#SOCIAL_LINKEDIN=https://linkedin.com/in/yourusername
#SOCIAL_EMAIL=your@email.com
#SOCIAL_MASTODON=https://mastodon.social/@yourusername

